#header{
	width:auto;
	height:110px;
	background-image:url("animal.jpg");
}
#wrapper{
	background-color: #ffffff;
	width:auto;
	height:770px;
}
h1{
	padding-top: 20px;
	margin-top:20px;
}
#ques{
	width:auto;
	height:50px;
	text-align : center;
	font-size: 40px;
	padding: 0px 100px;
}

#num{
	width:auto;
	height:10px;
	text-align : center;
	font-size: 25px;
	margin-top: 20px;
}

#butc{
	text-align: center;	
	padding-bottom:30px;
}

button{
	font-size: 50px;
	width: 150px;
}
#image{
	background-position:520px,0px,0px,0px;
	text-align:center;
	background-image:url("panda.png");
	background-repeat:no-repeat;
	padding-bottom:55px;
	padding-top:40px;
}
#footer{
	width:auto;
	height:110px;
	background-image:url("animal.jpg");
}
#img.img1{
	width:auto;
	height:600px;
}